.product-documents {
  padding: 40px 20px;
  /* background-color: #f9f9f9; */
  text-align: center;
  margin-top: 40px;
}

.product-documents h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product-documents p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #555;
}

.documents-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.document-card {
  /* background-color: #fff; */
  width: 300px; /* фиксированная ширина карточки */
  height: 400px; /* фиксированная высота карточки */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s;
}

.document-card:hover {
  transform: translateY(-5px);
}

.document-card img {
  width: 100%;
  height: 90%; 
  object-fit: contain; 
}

/* Блок с заголовком и кнопкой */
.document-card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%; /* оставшиеся 10% карточки */
  padding: 5px 0;
}

.document-card h3 {
  font-size: 16px;
  margin: 2px 0;
}

.document-card a {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  padding: 4px 5px;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.document-card a:hover {
  background-color: #007bff;
  color: #fff;
}
