.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.logo {
  height: 50px;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}
.page-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.product {
  display: flex;
  align-items: center; /* Центрируем по вертикали */
  gap: 20px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.product-image {
  width: auto;
  height: 200px;
}
.product-info {
  flex: 1;
}
.color-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.color {
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
}
.white { background: #fff; color: #000; border: 1px solid #ccc; }
.yellow { background: #ff0; color: #000; }
.red { background: #f00; }
.order-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}
.order-btn:hover {
  background: #444;
}

.product-table {
  margin-top: 20px;
}

.product-table h3 {
  margin-bottom: 10px;
  color: #004b9b;
}

.product-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.product-table th {
  background: #004b9b;
  color: white;
  text-align: left;
  padding: 8px;
}

.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.product-table tr:nth-child(even) {
  background: #f9f9f9;
}
